@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.home{
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-home{
    height:100vh;
    width: 400px;
    position: absolute;
    background:url('../assets/home-bg.png') no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0px;
    animation: keepmoving 4s infinite;
    opacity: .6;
}

@keyframes keepmoving {
    0%{
        transform: scale(1) translateY(0);
    }
    50%{
        transform: scale(1.01) translateY(10px);
    }
    100%{
        transform: scale(1) translateY(0);
    }
}

.home-banner{
    background: url('../assets/pulkit-banner.jpg');
    width: 40em;
    height: 40em;
    background-size: cover;
    border-radius: 50%;
}

.highlight{
    display: inline;
    color: rgb(172, 110, 207);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange{
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 30px;
    position: fixed;
    z-index: -3;
    transform: translate(-385%,-80%);
}

.card{
    user-select: none;
    width: 45em;
    height: 10em;
    border: solid 3px rgb(155, 155, 155);
    border-radius: 20px;
    padding: 0 0 0 30px;
    z-index: 2;
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: cardanimate 2s ;
}

.subtext{
    /* text-align: right; */
    user-select: none;
    width: 45em;
    z-index: 2;
    color: red;
    animation: subtextanimate 2s;
}
.subtext a h2{
    color: grey;
}

@keyframes cardanimate {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes subtextanimate {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

.home .card p{
    cursor: text;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.home .card p .spani{
    font-size: 2rem;
    color: grey;
}

.home .card p .spanarr{
    font-size: 2rem;
    padding: 0 10px;
    color: rgb(214, 139, 0);
    font-weight: 900;
}

.imgs{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    position: absolute;
    width: 70%;
    height: 100%;
}

.img-dingle{
    width: 70px;
    opacity: .5;
    position: absolute;
}

.img-dingle:nth-of-type(1){
    grid-row: 2;
    grid-column: 2;
}

.img-dingle:nth-of-type(2){
    grid-row: 2;
    grid-column: 5;
}

.img-dingle:nth-of-type(3){
    grid-row: 2;
    grid-column: 7;
}

.img-dingle:nth-of-type(4){
    grid-row: 5;
    grid-column: 9;
}

.img-dingle:nth-of-type(5){
    grid-row: 7;
    grid-column: 8;
}

.img-dingle:nth-of-type(6){
    grid-row: 8;
    grid-column: 6;
}

.img-dingle:nth-of-type(7){
    grid-row: 8;
    grid-column: 4;
}

.img-dingle:nth-of-type(8){
    grid-row: 7;
    grid-column: 2;
}

.img-dingle:nth-of-type(9){
    grid-row: 5;
    grid-column: 1;
}

.contact{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cf {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px 100px;
}

#input-name{
    grid-row: 1;
    grid-column: 1;
}
#input-email{
    grid-row:2 ;
    grid-column:1 ;
}
#input-subject{
    grid-row:3 ;
    grid-column:1 ;
}
#input-message{
    grid-row:1/4 ;
    grid-column:2 ;
}
#input-submit{
    grid-row: 4;
    grid-column: 1/3;
}
#input-submit-disabled{
    grid-row: 4;
    grid-column: 1/3;
}

h1 {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}
form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    resize: none;
    padding: 20px;
}

form input:focus {
    box-shadow: 0 0px 2px rgba(231, 76, 60, 1) !important;
}
form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
    border: 0;
}

form #input-submit:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form #input-submit-disabled {
    color: white;
    background: #8b8b8b;
    border: 0;
    cursor: pointer;
}

form #input-submit-disabled:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

.social-handles {
    position: absolute;
    bottom: 100px;
}

.codepen{
    width: 50px;
    padding: 0 10px;
    opacity:0.5;
    transition: .5s;
}
.facebook{
    width: 50px;
    padding: 0 10px;
    opacity:0.5;
    transition: .5s;
}
.github{
    width: 50px;
    padding: 0 10px;
    opacity:0.5;
    transition: .5s;
}
.gmail{
    width: 60px;
    height: 60px;
    opacity:0.5;
    transition: .5s;
    padding: 0 10px;
    transform: translateY(5px);
}
.instagram{
    width: 69px;
    padding: 0 5px;
    opacity:0.5;
    transition: .5s;
}
.linkedin{
    width: 70px;
    padding: 0 1px;
    opacity:0.5;
    transition: .5s;
    transform: translateY(5px);
}
.youtube{
    width: 50px;
    padding: 0 10px;
    opacity:0.5;
    transition: .5s;
}
.codepen:hover{
    opacity: 1;
    transform: scale(1.3);
}
.facebook:hover{
    opacity: 1;
    transform: scale(1.3);
}
.github:hover{
    opacity: 1;
    transform: scale(1.3);
}
.gmail:hover{
    opacity: 1;
    transform: scale(1.3);
}
.instagram:hover{
    opacity: 1;
    transform: scale(1.3);
}
.linkedin:hover{
    opacity: 1;
    transform: scale(1.3);
}
.youtube:hover{
    opacity: 1;
    transform: scale(1.3);
}

.about {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url('../assets/about-bg.jpg');
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 40px;
}

.about h2 {
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: left;
}

.about p {
    width: 50%;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
    color:#b6b6b6;
}

.about p.bitbig {
    font-size: 1.5rem;
    color: #fff;
}

.about p.link-linkedin {
    font-size: 1.5rem;
    color: #ff7474;
}

.about a {
    color: #fff;
    text-decoration: underline;
}

.about a:hover {
    color: #f39c12;
}

.projects{
    /* height: 100vh; */
}

.projects .top{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 3em;
    padding: 10px;
}

.projects .top img{
    width: 2rem;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
.buttonDownload {
    display: inline-block;
    position: absolute;
    top: 10px;right: 10px;
    padding: 10px 25px;
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

.buttonDownload:hover {
    background-color: #333;
    color: white;
}

.buttonDownload:before,
.buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;

    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;

    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #4CC713;
}

.buttonDownload:hover:after {
    border-top-color: #4CC713;
    animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {

    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0;
    }
}

.resume{
    padding:  2em 10em;
}
.h1-resume{
    color: blue;
    text-align: center;
}

.h2-resume{
    text-align: center;
}
.top-links-resume{
    display: flex;
    justify-content: space-between;
}

.top-links-resume .linkedin-resume ,
.top-links-resume .github-resume {
    opacity: .5;
}

.top-links-resume .linkedin-resume:hover ,
.top-links-resume .github-resume:hover {
    opacity: 1;
}
.top-links-resume .linkedin-resume a,
.top-links-resume .github-resume a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}
.top-links-resume .linkedin-resume img,
.top-links-resume .github-resume img{
    width: 1em;
}

.top-links-resume .linkedin-resume p,
.top-links-resume .github-resume p{
    font-size:1em;
    display: inline;
}

.section {
    font-size: 1.3em;
}
.section .section-h2{
    color: rgb(57, 126, 255);
    font-weight: 200;
}
.section hr{
    margin: 5px 0;
}
.section .section-hr-dark{
    height: 5px;
    background-color: #000;
    opacity: .7;
}
.section .section-hr-light{
    height: 5px;
    background-color: #000;
    opacity: .2;
}

.section .project h2 a img{
    width: .8em;
    opacity: .4;
}

.section .project h2 a img:hover{
    opacity: 1;
}

.section .hobby{
    padding: 0 20px;
}

.notfound{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-description{
    font-size: 2em;
    text-align: center;
}

.not-found-image{
    border: none;
}
.not-found-back-link{
    text-align: right;
    color: #000;
}