@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* Media query for screens wider than 1100px */
@media (min-width: 1101px) {
  .home {
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

/* Media query for screens 1100px and narrower */
@media (max-width: 1100px) {
  .home {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.bg-home {
  height: 100%;
  width: 400px;
  position: absolute;
  background: url("../assets/home-bg.png") no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0px;
  animation: keepmoving 4s infinite;
  opacity: 0.6;
}

@keyframes keepmoving {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.01) translateY(10px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

.home-banner {
  background: url("../assets/pulkit-banner.jpg");
  width: 40em;
  height: 40em;
  background-size: cover;
  border-radius: 50%;
}

.highlight {
  display: inline;
  color: rgb(172, 110, 207);
}

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5em;
}

@media (max-width: 400px) {
  .cf {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
  #input-name {
    user-select: none;
    cursor: text;
    grid-row: 1/3;
    grid-column: 1/2;
  }

  #input-email {
    user-select: none;
    cursor: text;
    grid-row: 3/5;
    grid-column: 1/2;
  }

  #input-subject {
    user-select: none;
    cursor: text;
    grid-row: 5/7;
    grid-column: 1/2;
  }

  #input-message {
    user-select: none;
    cursor: text;
    grid-column: 1/2;
    grid-row: 7/11;
  }

  .submit-btncontainer {
    cursor: pointer;
    user-select: none;
    grid-row: 11/14;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-handles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row: 14/16;
  }
  .social-handles a svg {
    width: 24px !important;
    height: 24px !important;
    opacity: 0.5;
    transition: 0.5s;
    margin: 0.5em;
    color: var(--primColor);
  }
}
@media (min-width: 400px) {
  .cf {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 10px 90px;
  }
  #input-name {
    user-select: none;
    cursor: text;
    grid-row: 1/5;
    grid-column: 1/4;
  }

  #input-email {
    user-select: none;
    cursor: text;
    grid-row: 5/11;
    grid-column: 1/4;
  }

  #input-subject {
    user-select: none;
    cursor: text;
    grid-row: 11/16;
    grid-column: 1/4;
  }

  #input-message {
    user-select: none;
    cursor: text;
    grid-row: 1/16;
    grid-column: 4/7;
  }

  .submit-btncontainer {
    cursor: pointer;
    user-select: none;
    grid-row: 16/21;
    grid-column: 1/7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-handles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row: 21/23;
    grid-column: 1/7;
  }
  .social-handles a svg {
    width: 34px !important;
    height: 34px !important;
    opacity: 0.5;
    transition: 0.5s;
    margin: .5em;
    color: var(--primColor);
  }
}


h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  resize: none;
  padding: 20px;
}

form input:focus {
  box-shadow: 0 0px 2px rgba(231, 76, 60, 1) !important;
}

form #input-submit {
  color: white;
  background: var(--primColor) !important;
  cursor: pointer;
  border: 0;
  width: 50%;
  height: 50%;
  transition: 0.3s;
  border-radius: 1em;
}

#input-submit-disabled {
  width: 50%;
  height: 50%;
  color: white;
  background: #8b8b8b;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1em;
}

#input-submit:hover,
#input-submit-disabled:hover {
  transform: scale(1.05);
}

#input-submit:active,
#input-submit-disabled:active {
  transform: scale(1);
}


.codepen:hover {
  color: #000;
  opacity: 1;
  transform: scale(1.3);
}

.facebook:hover {
  color: rgb(0, 0, 175);
  opacity: 1;
  transform: scale(1.3);
}

.github:hover {
  color: #000;
  opacity: 1;
  transform: scale(1.3);
}

.gmail:hover {
  color: #000;
  opacity: 1;
  transform: scale(1.3);
}

.instagram:hover {
  color: rgb(255, 17, 57);
  opacity: 1;
  transform: scale(1.3);
}

.linkedin:hover {
  color: blue;
  opacity: 1;
  transform: scale(1.3);
}

.youtube:hover {
  color: red;
  opacity: 1;
  transform: scale(1.3);
}

@media (max-width: 800px) {
  .about {
    height: 93% !important;
    width: 100%;
    margin: 0;
    border-radius: 0 !important;
    /* margin: auto; */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../assets/about-bg.jpg");
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
  }
}

@media (min-width: 800px) {
  .about {
    height: 100%;
    width: 95%;
    border-radius: 1em;
    margin: auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
      url("../assets/about-bg.jpg");
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 40px;
    overflow-y: scroll;
  }
}

.about h2 {
  font-size: 5rem;
  margin-bottom: 20px;
  text-align: left;
}

.about p {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
  color: #b6b6b6;
}

.about p.bitbig {
  font-size: 1.5rem;
  color: #fff;
}

.about p.link-linkedin {
  font-size: 1.5rem;
  color: #ff7474;
}

.about a {
  color: #fff;
  text-decoration: underline;
}

.about a:hover {
  color: #f39c12;
}

@media (max-width: 800px) {
  .projects {
    height: 93%;
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 800px) {
  .projects {
    height: 100%;
    width: 90%;
    margin: auto;
  }
}

.projects .top {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 3em;
  padding: 10px;
}

.projects .top img {
  width: 2rem;
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

@media screen and (min-width: 400px ?? max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

.buttonDownload {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 25px;
  background-color: #4cc713;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
}

.buttonDownload:hover {
  background-color: #333;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;

  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;

  animation: downloadArrow 2s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #4cc713;
}

.buttonDownload:hover:after {
  border-top-color: #4cc713;
  animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}

.resume {
  padding: 2em 10em;
}

.h1-resume {
  color: blue;
  text-align: center;
}

.h2-resume {
  text-align: center;
}

.top-links-resume {
  display: flex;
  justify-content: space-between;
}

.top-links-resume .linkedin-resume,
.top-links-resume .github-resume {
  opacity: 0.5;
}

.top-links-resume .linkedin-resume:hover,
.top-links-resume .github-resume:hover {
  opacity: 1;
}

.top-links-resume .linkedin-resume a,
.top-links-resume .github-resume a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.top-links-resume .linkedin-resume img,
.top-links-resume .github-resume img {
  width: 1em;
}

.top-links-resume .linkedin-resume p,
.top-links-resume .github-resume p {
  font-size: 1em;
  display: inline;
}

.section {
  font-size: 1.3em;
}

.section .section-h2 {
  color: rgb(57, 126, 255);
  font-weight: 200;
}

.section hr {
  margin: 5px 0;
}

.section .section-hr-dark {
  height: 5px;
  background-color: #000;
  opacity: 0.7;
}

.section .section-hr-light {
  height: 5px;
  background-color: #000;
  opacity: 0.2;
}

.section .project h2 a img {
  width: 0.8em;
  opacity: 0.4;
}

.section .project h2 a img:hover {
  opacity: 1;
}

.section .hobby {
  padding: 0 20px;
}

.notfound {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-description {
  font-size: 2em;
  text-align: center;
}

.not-found-image {
  border: none;
}

.not-found-back-link {
  text-align: right;
  color: #000;
}

.scrollNext {
  display: block;
  font-size: 1.5em;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto 0 auto;
  background-color: hsl(34, 70%, 65%) !important;
  color: #000;
  transform: scale(2);
  cursor: pointer;
  user-select: none;
  margin-bottom: 1em;
  transition: 0.2s;
}

.scrollNext:hover {
  background-color: hsl(34, 100%, 65%) !important;
}

.scrollNext:active {
  transform: scale(1.8);
}
