@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --leftval: 410px;
    --accentcolor: rgba(255, 0, 0, .101);
}

.nav-pk {
    border-radius: 50%;
    transition: .5s;
    box-shadow: 3px 3px 55px var(--accentcolor);
    background: url('../assets/pulkit-nav.jpg');
    width: 20rem;
    height: 20rem;
    background-size: cover;
}

.nav {
    user-select: none;
    color: #000000;
    height: 98%;
    width: 350px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    transition: .2s;
    z-index: 1000;
    border-radius: 1em;
}

.nav:hover {
    transform: translateX(10px);
    transition: .5s;
    box-shadow: 5px 0 40px 0 var(--accentcolor);
}

.nav h1 {
    user-select: none;
    font-family: 'Cedarville Cursive';
}

.nav ul {
    list-style: none;
}

.nav a h1 span {
    display: block;
    text-align: center;
    font-size: 2em;
    color: var(--primColor);
}

.active,
ul li a {
    cursor: pointer;
}

.nav-ul li.active a {
    color: var(--primColor);
}

ul a:hover {
    color: red;
}

.nav-ul li {
    list-style: none;
    /* border: solid 2px black; */
    text-align: center;
    margin: 10px 0;
}

.nav-ul a li {
    font-size: 1.7em;
    color: #000;
}

.nav-ul li a img {
    width: 1.6rem;
    transform: translateY(2px);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    /* color: #fff; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.card_box {
    width: 40em;
    margin: 0 1em;
    background-color: #000;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 15px 15px 200px rgba(0, 0, 0, .5);
}

.card_vid {
    width: 100%;
    height: 20em;
}

.card_vid video {
    width: 100%;
}

.card_vid iframe {
    width: 100%;
    height: 100%;
}

.card_item {
    padding: 20px 30px;
}

.card_title {
    margin-top: 2em;
    font-size: 1.5rem;
    color: red;
}

.card_item_link p,
.card_item_skills p {
    color: red;
}

.projects {
    height: 100%;
    width: 100%;
    background: url('../assets/bg.png')no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    /* Start with opacity 0, so it's hidden initially */
    transition: opacity 0.3s ease-in-out;
}

.scroll-button.show {
    opacity: 1;
    /* Show the button when the 'show' class is applied */
}

.scroll-button:hover {
    background-color: #0056b3;
}