.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightTypewriter,
.darkTypewriter{
  display: inline;
}
.darkTypewriter span {
  color: #fff !important;
}

.orange {
  width: 100px ;
  height: 100px ;
  background-color: var(--primColor) ;
  border-radius: 30px ;
  position: fixed ;
  z-index: -3 ;
  transform: translate(-345%, -120%) ;
}
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@1,700&display=swap");
.card {
  height: 15em ;
  width: 42em ;
  user-select: none ;
  border: solid 3px rgba(155, 155, 155, 0.377) ;
  border-radius: 20px ;
  z-index: 2 ;
  background-color: rgba(255, 255, 255, 0.6);
  animation: cardanimate 2s ;
  padding: 1em ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subtext {
  user-select: none;
  width: 40em;
  z-index: 2;
  color: red;
  animation: subtextanimate 2s;
}

.subtext-text ,
.subtext-text-sm {
  font-size:2em ;
  font-family: "Sometype Mono", monospace;
  color: grey ;
}

@keyframes cardanimate {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes subtextanimate {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

.home .card p {
  cursor: text;
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  margin: 0;
}

.home .card p .spani {
  font-size: 2rem;
  color: grey;
}

.home .card p .spanarr {
  font-size: 2rem;
  padding: 0 10px;
  color: var(--primColor);
  font-weight: 900;
}

.imgs {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  position: absolute;
  width: 70%;
  height: 100%;
  opacity: 0.5;
}

.img-dingle {
  width: 70px;
  opacity: 0.5;
  position: absolute;
}

.img-dingle:nth-of-type(1) {
  grid-row: 2;
  grid-column: 2;
}

.img-dingle:nth-of-type(2) {
  grid-row: 2;
  grid-column: 5;
}

.img-dingle:nth-of-type(3) {
  grid-row: 2;
  grid-column: 7;
}

.img-dingle:nth-of-type(4) {
  grid-row: 5;
  grid-column: 9;
}

.img-dingle:nth-of-type(5) {
  grid-row: 7;
  grid-column: 8;
}

.img-dingle:nth-of-type(6) {
  grid-row: 8;
  grid-column: 6;
}

.img-dingle:nth-of-type(7) {
  grid-row: 8;
  grid-column: 4;
}

.img-dingle:nth-of-type(8) {
  grid-row: 7;
  grid-column: 2;
}

.img-dingle:nth-of-type(9) {
  grid-row: 5;
  grid-column: 1;
}
