.genres ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genres ul li button {
  border: none;
  background-color: hsl(39, 60%, 50%);
  height: 2.5em !important;
  padding: 0.9em;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.genres ul li .selected {
  background-color: hsl(39, 100%, 50%);
}

.genres ul li button:hover,
.genres ul li button:active {
  background-color: hsl(39, 100%, 50%);
}
.genres ul li button:active {
  transform: scale(0.9);
}
